/* HEADER  */
.header__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 10px 0px;
}


.header__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header__img {
    width: 100px;
    height: 100px;
    margin: 0 50px;
}




.header__title h3 {
    color: red;
    font-style: italic;
    margin-left: 150px;
}

.header__search {
    width: 30%;
    margin-right: 50px;
}

/* END HEADER  */

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}


/* airbalde   */

.airbalde h2 {
    color: #32BFBC;
    text-align: center;
    margin-bottom: 25px;

}

.airbalde .airbalde__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.airbalde .airbalde__img-second img {
    width: 70%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* END airbalde   */


/* seller  */

.seller .seller__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller h1 {
    text-align: center;
    color: #32BFBC;

}

.seller-item img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.seller-item h3 {
    color: #FFC968;
}

/* END seller  */


/* Store  */

.store {
    margin: 25px 0px;
}

.store__img {
    text-align: center;
    color: #32BFBC;
}



.store__order h1 {
    text-align: center;
    color: #32BFBC;
}

.store h1 {
    margin-bottom: 30px;
}

/* END Store  */

.footer {
    text-align: center;
    color: white;
    padding: 30px;
    background-color: #0FC1C5;
}


@media screen and (max-width: 768px) {
    .header__content {
        flex-direction: column;
        align-items: center;
    }

    .header__content .header__title h3 {
        margin-left: 0px;
    }

    .header__search {
        width: 100%;
        margin-right: 0px;

    }

    .airbalde__img-second
    {
        text-align: center;
    }

    .seller .seller__content {
        flex-direction: column;
        text-align: center;
    }

    .seller-item img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    





}